.visualizer-wrapper {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	border-radius: 12px;
}

.visualizer-wrapper::before {
	content: "";
	position: absolute;
	inset: 0;

	background-image: var(--visualizer-bg-image);
	background-size: cover;
	background-position: center;

	filter: brightness(0.4);

	z-index: 0;
}

.visualizer-canvas {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;

	background: transparent;
	z-index: 1;
}
